<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE tiles-definitions PUBLIC
"-//Apache Software Foundation//DTD Tiles Configuration 3.0//EN"
"http://tiles.apache.org/dtds/tiles-config_3_0.dtd">

<tiles-definitions>

	<!-- TEMPLATES -->
	<definition name="wc.LandingpageTemplate" template="/WEB-INF/views/wc-loginPageTemplate.jsp">
		<put-attribute name="title" value="" />
		<put-attribute name="body" value="" />
	</definition>

	<definition name="wc.DashBoardTemplate" template="/WEB-INF/views/wc-dashboardTemplate.jsp">
		<put-attribute name="title" value="" />
		<!-- <put-attribute name="body" value="" /> -->
	</definition>

	<!-- -->

	<definition name="wc.Landingpage" extends="wc.LandingpageTemplate">
		<put-attribute name="title" value="We-Connect Login" />
		<put-attribute name="body" value="/WEB-INF/views/wc-loginPage.jsp" />
	</definition>

	<definition name="wc.ResetPassword" extends="wc.LandingpageTemplate">
		<put-attribute name="title" value="We-Connect Reset Password" />
		<put-attribute name="body"
			value="/WEB-INF/views/wc-resetPassword.jsp" />
	</definition>

	<definition name="wc.Dashboard" extends="wc.DashBoardTemplate">
		<put-attribute name="title" value="We-Connect" />
		<!-- <put-attribute name="body" value="" /> -->
	</definition>
	
	
	
	<definition name="wc.Sql.Exception" extends="wc.LandingpageTemplate">
		<put-attribute name="title" value="We-Connect Login" />
		<put-attribute name="body" value="/WEB-INF/ErrorResponses/wc_SQL_Exception.jsp" />
	</definition>

</tiles-definitions>
